In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

df = pd.read_csv('data.csv',sep='\t',header=None,names=['time', 'bytes', 'packets', 'IPv6 pkt', 'IPv4 pkt', 'TCP pkt', 'UDP pkt','ICMP pkt','bps','pps'])
display(df)

,time,bytes,packets,IPv6 pkt,IPv4 pkt,TCP pkt,UDP pkt,ICMP pkt,bps,pps
0,1.635965e+09,260919515,60475,1,60472,60460,3,10,417471224.0,12095.0
1,1.635965e+09,273488652,51363,0,51363,49044,2309,10,437581843.2,10272.6
2,1.635965e+09,291567323,16137,1,16136,16109,18,10,466507716.8,3227.4
3,1.635965e+09,179131064,11892,0,11892,10281,1605,6,286609702.4,2378.4
4,1.635965e+09,2536834,1891,1,1890,0,1891,0,4058934.4,378.2
...,...,...,...,...,...,...,...,...,...,...
176,1.635966e+09,4998438,3678,0,3677,0,3677,0,7997500.8,735.6
177,1.635966e+09,14580541,10762,0,10761,0,10761,0,23328865.6,2152.4
178,1.635966e+09,4055,10,0,10,0,10,0,6488.0,2.0
179,1.635966e+09,59527943,9973,0,9972,9956,12,4,95244708.8,1994.6
180,1.635966e+09,21590704,3797,0,3797,3795,0,2,34545126.4,759.4

In [ ]:
# how many ip